GENERATION_PROVIDER=mock
OPENAI_IMAGE_BASE_URL=http://127.0.0.1:8123
OPENAI_IMAGE_API_KEY=
OPENAI_IMAGE_TIMEOUT_MS=600000
CUSTOM_GENERATION_BASE_URL=
CUSTOM_GENERATION_API_KEY=
CUSTOM_GENERATION_SUBMIT_PATH=/generations
CUSTOM_GENERATION_STATUS_PATH=/generations/{id}
CUSTOM_GENERATION_POLL_INTERVAL_MS=1200
CUSTOM_GENERATION_TIMEOUT_MS=600000
